@media (min-width: 1200px) {
  html {
    font-size: 93.75% !important;
  }

  header {
    max-width: 200rem;
  }

  .heading-primary {
    font-size: 5.2rem !important;
  }

  .h-text {
    font-size: 1.6rem !important;
  }

  .hero-section {
    max-width: 200rem;
  }

  .resaon {
    max-width: 200rem;
  }

  .cat-sect {
    max-width: 200rem;
  }

  .feat-sect {
    max-width: 200rem;
  }

  .test-sect {
    max-width: 200rem;
  }

  footer {
    max-width: 200rem;
  }
}

/* THIS IS FOR 912px NOTEBOOKS*/

@media (max-width: 57em) {
  .heading-primary {
    font-size: 5rem !important;
  }

  .h-text {
    font-size: 1.4rem !important;
    font-weight: 600 !important;
  }
}

/* THIS IS FOR 896px LANDSCAPE PHONES*/

@media (max-width: 56em) {
  html {
    font-size: 57.25% !important;
  }

  .hide {
    display: none !important;
  }

  .search {
    display: none !important;
  }

  .show {
    display: block !important;
  }

  .men {
    top: 95rem !important;
    left: 5rem !important;
  }

  .women {
    top: 95rem !important;
    right: 36rem !important;
  }

  .best {
    top: 121rem !important;
    left: 5rem !important;
  }

  .new {
    top: 121rem !important;
    right: 36rem !important;
  }
}

/* THIS IS FOR 812px LANDSCAPE PHONES*/

@media (max-width: 51em) {
  .men {
    top: 95rem !important;
    left: 5rem !important;
  }

  .women {
    top: 95rem !important;
    right: 31.5rem !important;
  }

  .best {
    top: 121rem !important;
    left: 5rem !important;
  }

  .new {
    top: 121rem !important;
    right: 31.5rem !important;
  }
}

/* THIS IS FOR 736px FOR LANDSCAPE PHONES*/

@media (max-width: 46em) {
  .btn-nav {
    font-size: 1.2rem !important;
  }

  .btn-hero {
    font-size: 1.2rem !important;
  }

  .heading-primary {
    font-size: 4.4rem !important;
  }

  .h-text {
    font-size: 1.4rem !important;
  }

  .heading-secondary {
    font-size: 1.6rem !important;
  }

  .heading-tertiary {
    font-size: 1.2rem !important;
  }

  .men {
    top: 91rem !important;
    left: 5rem !important;
  }

  .women {
    top: 91rem !important;
    right: 28rem !important;
  }

  .best {
    top: 117rem !important;
    left: 5rem !important;
  }

  .new {
    top: 117rem !important;
    right: 28rem !important;
  }

  .fit-text,
  .btn-ft {
    font-size: 1.2rem !important;
  }

  .testimonies {
    text-align: center;
  }

  .identity {
    flex-direction: column;
  }

  .test-name {
    margin-bottom: 0.5rem !important;
  }

  .test-text {
    font-size: 1.2rem !important;
    font-weight: 500 !important;
  }
}

/* THIS IS  512px FOR PORTRAIT PHONES */

@media (max-width: 32em) {
  .btn-hero {
    font-size: 1rem !important;
    padding: 1rem 2rem !important;
  }

  .hero-sect {
    padding: 8rem 3rem 6rem !important;
  }

  .heading-primary {
    font-size: 2.6rem !important;
    margin-bottom: 1.5rem !important;
  }

  .h-text {
    font-size: 1.2rem !important;
  }

  .hero-text {
    margin-bottom: 2rem !important;
  }

  .heading-secondary {
    font-size: 1.6rem !important;
    margin-top: 2rem !important;
  }

  .why-flex {
    flex-direction: column;
    gap: 2.5rem !important;
  }

  .heading-tertiary {
    margin-bottom: 0.8rem !important;
    font-size: 1.1rem !important;
  }

  .category {
    margin: 7rem 15rem !important;
  }

  .imgs-box {
    grid-template-columns: 1fr !important;
  }

  .img-box img {
    height: 20rem !important;
  }

  .men {
    top: 86rem !important;
    left: 15rem !important;
  }

  .women {
    top: 107rem !important;
    left: 15rem !important;
  }

  .best {
    top: 149.5rem !important;
    left: 15rem !important;
  }

  .new {
    top: 128rem !important;
    left: 15rem !important;
  }

  .ft-img-text {
    padding: 2rem 4rem !important;
  }

  .ft-img-flex {
    flex-direction: column !important;
  }

  .btn-ft {
    font-size: 1rem !important;
  }

  .testimonials {
    margin: 3rem 15rem !important;
  }

  .testimonies {
    flex-direction: column !important;
  }

  .foot-content {
    grid-template-columns: 1fr !important;
    text-align: center;
    gap: 2rem !important;
  }

  form {
    justify-content: center;
  }
}

/* THIS IS FOR 416px PORTRAIT SAMSUNG GALAXY S10+  */

@media (max-width: 26em) {
  header {
    padding: 1rem 2rem !important;
  }

  .hero-sect {
    padding-top: 7rem !important;
  }

  .heading-primary {
    font-size: 2.2rem !important;
    margin-bottom: 1.2rem !important;
  }

  .hero-text {
    width: 100% !important;
  }

  .h-text {
    font-size: 1.1rem !important;
    font-weight: 580 !important;
  }

  .hero-text {
    margin-bottom: 1.5rem !important;
  }

  .btn-hero {
    font-size: 0.8rem !important;
    padding: 0.6rem 1.5rem !important;
  }

  .heading-secondary {
    font-size: 1.4rem !important;
  }

  .heading-tertiary {
    font-size: 1.1rem !important;
  }

  .category {
    margin: 7rem 12rem !important;
  }

  .img-box img {
    height: 18rem !important;
  }

  .cat-links {
    width: 10rem !important;
    padding: 1rem 0 !important;
    font-size: 1rem !important;
    font-weight: 550 !important;
  }

  .men {
    top: 68rem !important;
    left: 12rem !important;
  }

  .women {
    top: 85rem !important;
    left: 12rem !important;
  }

  .best {
    top: 125rem !important;
    left: 12rem !important;
  }

  .new {
    top: 105rem !important;
    left: 12rem !important;
  }

  .btn-buy {
    padding: 1rem 2rem !important;
  }

  .btn-add {
    padding: 1rem !important;
  }

  .testimonials {
    margin: 3rem 12rem !important;
  }

  .testimonies {
    gap: 3rem !important;
  }
}

/* THIS IS FOR 376px PORTRAIT IPHONE X */

@media (max-width: 23.5em) {
  .hero-sect {
    padding-top: 5rem !important;
  }

  .heading-primary {
    font-size: 2.3rem !important;
    margin-bottom: 1.4rem !important;
  }

  .hero-text {
    margin-bottom: 1rem !important;
  }

  .h-text {
    font-size: 1rem !important;
  }

  .heading-secondary {
    font-size: 1.3rem !important;
  }

  .heading-tertiary {
    font-size: 1.1rem !important;
  }

  .img-box img {
    height: 15rem !important;
  }

  .men {
    top: 75rem !important;
  }

  .women {
    top: 91rem !important;
  }

  .best {
    top: 123.5rem !important;
  }

  .new {
    top: 107.3rem !important;
  }

  .btn-buy {
    padding: 1rem 1.5rem !important;
  }

  .btn-add {
    padding: 0.8rem !important;
  }

  .testimonials {
    margin: 3rem 10rem !important;
  }
}

/* THIS IS 360px FOR SAMSUNG GALAXY S8 */
@media (max-width: 22.5em) {
  .heading-primary {
    margin-bottom: 1rem !important;
  }
}
